<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnRisky="false"
         verbose="true"
         strict="false">
    <php>
        <ini name="memory_limit" value="2048M" />

        <const name="APPLICATION_ENV" value="testing"/>
    </php>

    <testsuites>
        <testsuite name="Controller">
            <directory>tests/Tests/Controller</directory>
        </testsuite>

        <testsuite name="Entity">
            <directory>tests/Tests/Entity</directory>
        </testsuite>

        <testsuite name="Service">
            <directory>tests/Tests/Service</directory>
        </testsuite>

        <testsuite name="Repository">
            <directory>tests/Tests/Repository</directory>
        </testsuite>

        <testsuite name="Providers">
            <directory>tests/Tests/Providers</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">public</directory>
            <directory suffix=".php">tests/Fixtures</directory>
            <directory suffix=".php">tests/Mocks</directory>

            <file>tests/Tests/ApplicationTestCase.php</file>
            <file>tests/Tests/ApplicationTestListener.php</file>
        </blacklist>
    </filter>

    <listeners>
        <listener class="PHPUnit\Runner\CleverAndSmart\TestListener">
            <arguments>
                <object class="PHPUnit\Runner\CleverAndSmart\Storage\Sqlite3Storage">
                    <arguments>
                        <string>tmp/phpunit.sqlite</string>
                    </arguments>
                </object>
            </arguments>
        </listener>

        <listener class="Skel\Tests\ApplicationTestListener" file="tests/Tests/ApplicationTestListener.php">
        </listener>
    </listeners>

    <logging>
        <log type="tap" target="tmp/log/tap.log" logIncompleteSkipped="false" />
    </logging>
</phpunit>
